/* CSS reset */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, 
hr, html, iframe, legend, li, ol, p, pre, textarea, ul {margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:400}
ul {list-style:none}
button, input, select {margin:0}
html {box-sizing:border-box}
*, :after, :before {box-sizing:inherit}
img, video {height:auto;max-width:100%}
iframe {border:0}
table {border-collapse:collapse;border-spacing:0}
td, th {padding:0}


* {
    font-family: 'Prata', serif;
    font-size: 20px;
}

h1{
    font-size: 40px;
}

html{
    height: 100vh;
}

body{
    height: 90vh;
    margin: 10px;
    color: white;
    background-repeat:no-repeat;
    background-size:cover;
}

header{
    display: flex;
    justify-content: space-between;
}

section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login-page */
.login-page h1{
    padding-left: 10px;
}
.login-page input{
    height:50px;
    width: 30vw;
    margin: 10px 0;
    padding: 0 10px;
    color: white;
    background-color: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 0;
    border-right: 0;
}
.login-page input::placeholder{
    color: white;
}
.login-page button{
    width:fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.todo-page{
    height: 100%;
    padding: 50px 0;
    align-items: center;
}
#todo-list{
    width: 550px;
    height: 400px;
    margin-top: 20px;
    padding: 0 10px 10px 0;
    overflow: auto;
    word-break:break-all;
}

#todo-list li{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#todo-list li:hover{
    border-radius: 5px;
    background-color: #fff;
    color:black;
    opacity: 70%;
    cursor: pointer;
}

#todo-list li div{
    height: 100%;
    display: flex;
    margin: 0 5px;
    align-items: center;
}
#todo-list li div:first-child{
    flex: 12;
}
#todo-list li div:last-child{
    flex: 1;
}
#todo-list li>div span{
    margin-left: 10px;
}
#todo-list::-webkit-scrollbar {
    width: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
  }
#todo-list::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 10px;
  }


.hidden{
    display: none;    
}