/* CSS reset */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, 
hr, html, iframe, legend, li, ol, p, pre, textarea, ul {margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:400}
ul {list-style:none}
button, input, select {margin:0}
html {box-sizing:border-box}
*, :after, :before {box-sizing:inherit}
img, video {height:auto;max-width:100%}
iframe {border:0}
table {border-collapse:collapse;border-spacing:0}
td, th {padding:0}


* {
    font-size: 20px;
}

h1{
    font-size: 40px;
}

html{
    height: 100vh;
}

body{
    height: 90vh;
    margin: 10px;
    color: white;
    background-repeat:no-repeat;
    background-size:cover;
}

header{
    display: flex;
    justify-content: space-between;
}

section{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login-page */
.login-page h1{
    padding-left: 10px;
}
.login-page input{
    height:50px;
    width: 30vw;
    margin: 10px 0;
    padding: 0 10px;
    color: white;
    background-color: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 0;
    border-right: 0;
}
.login-page input::placeholder{
    color: white;
}
.login-page button{
    width:fit-content;
    margin: auto;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.hidden{
    display: none;    
}